@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Andasia";
  src: url(imagesfonts/Andasia.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
  /*background-color: #6EE7B7;*/
  background-image: url(imagesfonts/bg2.png);
  background-repeat: none;
  background-size: cover;
}

.cForm {
  margin-left: 100px;
  padding-top: -50px;
  padding-right: 50px;
  display: inline-block;
  width: 40%;
  position: relative;
  top: -50px;
}

#inviteBtn {
  padding-left:300px;
  position: relative;
  top: -20px;
}

#info {
  margin-top: 50px;
  width: 30%;
  display: inline-block;
}

#venue {
  position: relative;
  right: -150px;
}

#invite {
  width: 100%;
  height: 120px;
  padding-top: 20px;
  margin-bottom: 30px;
  /*background-color: rgb(235, 229, 229);*/
  background-image: url(imagesfonts/background.png);
  background-repeat: none;
  background-size: cover;
}

h1{
  font-family: Andasia;
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
  color: #8e9d88;
}

#name,
#attendance,
#allergies {
  margin-top: 5px;
  background-color: #ffffff;
  border: #8DBB8D 2px solid;
  box-shadow: 0 6px 4px -4px black;
}

#submit {
  margin-top: 10px;
  float: right;
  background-color: #E1E6E0;
  border: #8DBB8D 2px solid;
  letter-spacing: 1px;
}

iframe {
  padding-bottom: 50px;
}

@media screen  and (max-width: 800px){ 
  #invite{
    width: 100%;
  }
  .cForm {
    width: 90% ;
    padding-bottom: 50px;
    margin-left: 30px;
    top: 0px;
  }
  #info {
    width: 95%;
    float: none;
    padding-left: 20px;
  }

  #venue {
    position: relative;
    top: 0;
    left: 0;
  }
  #inviteBtn {
    padding-left: 30%;
    position: relative;
    top: 20px;
    padding-bottom: 25px;
  }

  iframe {
    width: 400px;
    padding-left: 10%;
  }

}